
# temp
qdata

# vagrant
.vagrant
*.log

*node_modules*

qdata/
nohup.out

.#*
*/test_task/qdata_*
*/test_task/contract_pri.js
*/test_task/contract_pub.js
*/test_task/docker-compose.yml
*/test_task/static-nodes.json
*/test_task/genesis.json

*/.idea

venv